.landing{
  background: linear-gradient(to bottom, #ADD8E6, #87CEFA);
  max-width:100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
  .cloud {
    position: relative;
    /* width: 200px; */
    height: auto;
  }

  .clouds{
    width:50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
    position: absolute;
  }

  .cloudsSecond{
    width:50%;
    height: auto;
    /* background-color: coral; */
    position: absolute;
    top: 40%;
    /* left:-% */
  }

  .cloud path {
    fill: #fff;
  }

  .cloudOne {
    position: absolute;
    animation: move-left 3s ease-in-out forwards;
  }

  .cloudTwo {
    position: absolute;
    animation: move-right 3s ease-in-out forwards;
  }

  .circle {
    width: 100px;
    height: 100px;
    /* background: #fff; */
    background-size: cover;
    border-radius: 50%;
    animation: pop-up 3s ease-in-out forwards;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1px solid ;
  }
  .circle img{
    width: 300%;
    height: auto;
  }

  @keyframes move-left {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(90%);

    }
  }

  @keyframes move-right {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-90%);

    }
  }

  @keyframes pop-up {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(3);
      opacity: 1;
    }
  }